<!--
Esta etiqueta indica que esta plantilla hereda de otra plantilla llamada 'base.html' que se encuentra en el 
directorio 'ProyectoWebApp/'. Esto significa que esta plantilla incluirá todo el contenido de la plantilla base, 
pero permitirá agregar contenido adicional y reemplazar bloques específicos.
-->
{% extends 'ProyectoWebApp/base.html' %}

<!--
Esta etiqueta permite cargar los archivos estáticos de tu proyecto, como hojas de estilo CSS o archivos JavaScrip
-->
{% load static %}


{% block content %}

    <h1>Tienda</h1>

{% endblock %}